<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<script type="text/javascript" src="/js/angular.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
	
</head>
<body ng-controller="myCtrl">
<hr />
<hr />
<div class="container">
	
	
	<!-- <pre>{{ data | json }}</pre> -->
	<!-- <pre ng-bind="data | json"></pre> -->
	<table class="table table-bordered table-stripped table-hover">
		<tr>
			<th>S.No.</th>
			<th>Name</th>
			<th>Age</th>
			<th>Fee</th>
			<th>With Tax</th>

		</tr>
		<tr ng-repeat="x in data | orderBy : 'age' : 'true'">
			<!-- <td>{{ $index+1 }}</td>
			<td>{{ x.name }}</td>
			<td>{{ x.age }}</td>
			<td>{{ x.fee }}</td> -->
			<td ng-bind="$index+1"></td>
			<td ng-bind="x.name | uppercase"></td>
			<td ng-bind="x.age"></td>
			<td ng-bind="x.fee | currency : '&pound;'"></td>
			<td ng-bind="x.fee | myFilter : x.age | currency : '&pound;'"></td>
		</tr>
	</table>
</div>
</body>
</html>